[suites]
unstructured = mms_biot_3d
               mms_elastic_3d
               mms_coupled_flow_geomech_3d
geomechanics = mms_biot_3d
               mms_elastic_3d
               mms_coupled_flow_geomech_3d

[default-test-criteria]
# default criteria for all tests, can be overwritten by specific tests
time = 50 percent
displacement = 1.0e-8 absolute

[mms_biot_3d]
python_setup_script=make_mms_body_force_biot.py

[mms_elastic_3d]
python_setup_script=make_mms_body_force_elastic.py

[mms_coupled_flow_geomech_3d]
python_setup_script=make_mms_data_coupled.py
