[suites]
unstructured = thmce_fixed_strain thmce_fixed_stress
geophysics = thmce_fixed_strain thmce_fixed_stress
geomechanics = thmce_fixed_strain thmce_fixed_stress

[default-test-criteria]
# default criteria for all tests, can be overwritten by specific tests
time = 50 percent
displacement = 1.0e-9 relative 
strain = 1.0e-8 relative
stress = 1.0e-8 relative

[thmce_fixed_strain]

[thmce_fixed_stress]
