[suites]
geomechanics = uniaxial_strain_restart_chk
               uniaxial_strain_restart_h5

[default-test-criteria]
# default criteria for all tests, can be overwritten by specific tests
time = 50 percent
displacement = 1.0e-10 relative
strain = 1.0e-10 relative
stress = 1.0e-10 relative

[uniaxial_strain_restart_chk]
restart_filename = uniaxial_strain_restart_chk-2.0000d.chk Binary

[uniaxial_strain_restart_h5]
restart_filename = uniaxial_strain_restart_h5-2.0000d.h5 HDF5
