[suites]
flow = richards_reduction
       th_reduction
       hydrostatic_nonuniform
       thermal_1d
       thermal_1d_permat
       thermal_1d_tcc
       thermal_1d_full_eos
       waterfall_reduction
       waterfall_reduction_numJac
       drying_1d
standard = richards_reduction
           th_reduction
           hydrostatic_nonuniform
           thermal_1d
           thermal_1d_permat
           thermal_1d_tcc
           thermal_1d_full_eos
           waterfall_reduction
           waterfall_reduction_numJac
           drying_1d

[default-test-criteria]
# default criteria for all tests, can be overwritten by specific tests
generic = 1.0e-12 absolute
concentration = 1.0e-12 absolute
discrete = 0 absolute
rate = 1.0e-12 absolute
volume_fraction = 1.0e-12 absolute
pressure = 1.0e-12 absolute
saturation = 1.0e-12 absolute

[richards_reduction]
pressure = 1.e-12 relative

[th_reduction]
generic = 5.e-10 relative

[hydrostatic_nonuniform]
generic = 1.e-10 absolute
pressure = 1.e-12 relative

[thermal_1d]
pressure = 1.e-12 relative

[thermal_1d_permat]
generic = 5.e-10 absolute
pressure = 1.e-12 relative

[thermal_1d_tcc]
generic = 5.e-10 absolute
pressure = 1.e-12 relative

[thermal_1d_full_eos]
generic = 5.e-10 absolute
pressure = 1.e-12 relative

[drying_1d]
pressure = 1.e-12 relative

[waterfall_reduction]
pressure = 1.e-12 relative

[waterfall_reduction_numJac]
pressure = 1.e-12 relative
