[suites]
unstructured = compress_bottom compress_east compress_north compress_south compress_top compress_west compress_bottom_tet compress_east_tet compress_north_tet compress_south_tet compress_top_tet compress_west_tet
geomechanics = compress_bottom compress_east compress_north compress_south compress_top compress_west compress_bottom_tet compress_east_tet compress_north_tet compress_south_tet compress_top_tet compress_west_tet

[default-test-criteria]
# default criteria for all tests, can be overwritten by specific tests
time = 50 percent
displacement = 1.0e-6 absolute

[compress_bottom]

[compress_east]

[compress_north]

[compress_south]

[compress_top]

[compress_west]

[compress_bottom_tet]

[compress_east_tet]

[compress_north_tet]

[compress_south_tet]

[compress_top_tet]

[compress_west_tet]
