[suites]
unstructured = uniaxial_loading uniaxial_loading-np4 uniaxial_loading_with_traction uniaxial_loading_with_traction-np4
geomechanics = uniaxial_loading uniaxial_loading-np4 uniaxial_loading_with_traction uniaxial_loading_with_traction-np4

[default-test-criteria]
# default criteria for all tests, can be overwritten by specific tests
time = 50 percent
displacement = 1.0e-8 absolute
strain = 1.0e-8 absolute
stress = 1.0e-8 relative
generic = 1.0e-8 absolute

[uniaxial_loading]
compare_ascii_output = uniaxial_loading-geomech-obs-0.pft

[uniaxial_loading_with_traction]

[uniaxial_loading-np4]
np = 4
compare_ascii_output = uniaxial_loading-np4-geomech-obs-2.pft

[uniaxial_loading_with_traction-np4]
np = 4
