[suites]
standard = well_grid_1d
           heat_pipe_z
standard_parallel = heat_pipe_u-np4

[default-test-criteria]
# default criteria for all tests, can be overwritten by specific tests
time = 50 percent
pressure = 1.0e-12 absolute 

[well_grid_1d]

[heat_pipe_z]

[heat_pipe_u-np4]
np=4
