[suites]
standard = heat_pipe_1d
           heat_pipe_1d_num

[default-test-criteria]
# default criteria for all tests, can be overwritten by specific tests
time = 50 percent
pressure = 1.0e-12 absolute 

[heat_pipe_1d]

[heat_pipe_1d_num]

